
body {        
    font-family: 'Titillium Web', sans-serif;
    background-color: slategray;
    display: grid;
    grid-template-rows: auto 1fr auto;
    
}

main {
    padding: 40px;
    border-radius: 2px;
    border-color: #D8CCCE;
    grid-row-gap: 15px;
}

header {
    background-color: #D8CCCE;
    height: 110px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: 100%;
    object-fit: contain;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

footer {
    background-color: #FAF0EA;
    padding: 10px;
}
